In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
path = os.path.join("df_main_3.csv")
df = pd.read_csv(path)
df.columns

Index(['Unnamed: 0', 'category', 'beverage', 'food', 'Grape', 'ind', 'sodium',
       'calories', 'fat', 'cholesterol', 'carbs', 'protein', 'Body', 'Tannin',
       'Acid', 'ABV', 'Dryness', 'Fruit', 'Color'],
      dtype='object')

In [3]:
# Dropping the extra column
df = df.drop(columns='Unnamed: 0')
df

,category,beverage,food,Grape,ind,sodium,calories,fat,cholesterol,carbs,protein,Body,Tannin,Acid,ABV,Dryness,Fruit,Color
0,White Wine,Sancerre,Chevre Cheese,Sauvignon Blanc,0,60.0,387.0,30.5,216.0,7.0,6.6,2,0,5,3,2,2,White
1,White Wine,Sauvignon Blanc,Chevre Cheese,Sauvignon Blanc,0,60.0,387.0,30.5,216.0,7.0,6.6,2,0,5,3,2,2,White
2,White Wine,Pouilly Fumé,Chevre Cheese,Sauvignon Blanc,0,60.0,387.0,30.5,216.0,7.0,6.6,2,0,5,3,2,2,White
3,White Wine,Sancerre,Goat Cheese,Sauvignon Blanc,1,654.0,426.0,31.6,21.0,1.0,8.0,2,0,5,3,2,2,White
4,White Wine,Sauvignon Blanc,Goat Cheese,Sauvignon Blanc,1,654.0,426.0,31.6,21.0,1.0,8.0,2,0,5,3,2,2,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,Red Wine,Chianti DOCG,Bean and Bacon,Sangiovese,86,301.0,104.0,6.5,8.0,6.0,3.9,4,4,4,4,1,2,Red
2859,Red Wine,Chianti DOCG,Marinara,Sangiovese,99,685.0,151.0,10.5,0.0,7.0,2.0,4,4,4,4,1,2,Red
2860,Red Wine,Sangiovese,Marinara,Sangiovese,99,685.0,151.0,10.5,0.0,7.0,2.0,4,4,4,4,1,2,Red
2861,Red Wine,Brunello di Montalcino (DOCG),Risotto with Game,Sangiovese,124,1131.0,431.0,16.6,29.0,6.0,11.3,4,4,4,4,1,2,Red
2862,Red Wine,Chianti Classico DOCG,Pasta Alla Carbonara,Sangiovese,135,431.0,512.0,25.2,128.0,5.0,21.2,4,4,4,4,1,2,Red

In [4]:
df = df.dropna()
df

,category,beverage,food,Grape,ind,sodium,calories,fat,cholesterol,carbs,protein,Body,Tannin,Acid,ABV,Dryness,Fruit,Color
0,White Wine,Sancerre,Chevre Cheese,Sauvignon Blanc,0,60.0,387.0,30.5,216.0,7.0,6.6,2,0,5,3,2,2,White
1,White Wine,Sauvignon Blanc,Chevre Cheese,Sauvignon Blanc,0,60.0,387.0,30.5,216.0,7.0,6.6,2,0,5,3,2,2,White
2,White Wine,Pouilly Fumé,Chevre Cheese,Sauvignon Blanc,0,60.0,387.0,30.5,216.0,7.0,6.6,2,0,5,3,2,2,White
3,White Wine,Sancerre,Goat Cheese,Sauvignon Blanc,1,654.0,426.0,31.6,21.0,1.0,8.0,2,0,5,3,2,2,White
4,White Wine,Sauvignon Blanc,Goat Cheese,Sauvignon Blanc,1,654.0,426.0,31.6,21.0,1.0,8.0,2,0,5,3,2,2,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,Red Wine,Chianti DOCG,Bean and Bacon,Sangiovese,86,301.0,104.0,6.5,8.0,6.0,3.9,4,4,4,4,1,2,Red
2859,Red Wine,Chianti DOCG,Marinara,Sangiovese,99,685.0,151.0,10.5,0.0,7.0,2.0,4,4,4,4,1,2,Red
2860,Red Wine,Sangiovese,Marinara,Sangiovese,99,685.0,151.0,10.5,0.0,7.0,2.0,4,4,4,4,1,2,Red
2861,Red Wine,Brunello di Montalcino (DOCG),Risotto with Game,Sangiovese,124,1131.0,431.0,16.6,29.0,6.0,11.3,4,4,4,4,1,2,Red
2862,Red Wine,Chianti Classico DOCG,Pasta Alla Carbonara,Sangiovese,135,431.0,512.0,25.2,128.0,5.0,21.2,4,4,4,4,1,2,Red

In [5]:
df_wine = df.drop(columns = ['food', 'beverage', 'ind'])
df_wine

,category,Grape,sodium,calories,fat,cholesterol,carbs,protein,Body,Tannin,Acid,ABV,Dryness,Fruit,Color
0,White Wine,Sauvignon Blanc,60.0,387.0,30.5,216.0,7.0,6.6,2,0,5,3,2,2,White
1,White Wine,Sauvignon Blanc,60.0,387.0,30.5,216.0,7.0,6.6,2,0,5,3,2,2,White
2,White Wine,Sauvignon Blanc,60.0,387.0,30.5,216.0,7.0,6.6,2,0,5,3,2,2,White
3,White Wine,Sauvignon Blanc,654.0,426.0,31.6,21.0,1.0,8.0,2,0,5,3,2,2,White
4,White Wine,Sauvignon Blanc,654.0,426.0,31.6,21.0,1.0,8.0,2,0,5,3,2,2,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,Red Wine,Sangiovese,301.0,104.0,6.5,8.0,6.0,3.9,4,4,4,4,1,2,Red
2859,Red Wine,Sangiovese,685.0,151.0,10.5,0.0,7.0,2.0,4,4,4,4,1,2,Red
2860,Red Wine,Sangiovese,685.0,151.0,10.5,0.0,7.0,2.0,4,4,4,4,1,2,Red
2861,Red Wine,Sangiovese,1131.0,431.0,16.6,29.0,6.0,11.3,4,4,4,4,1,2,Red
2862,Red Wine,Sangiovese,431.0,512.0,25.2,128.0,5.0,21.2,4,4,4,4,1,2,Red

In [6]:
df["category"].unique()

array(['White Wine', 'Dessert Wine', 'Sparkling Wine', 'Red Wine', 'Rosé'],
      dtype=object)

In [56]:
df_wine[['sodium', 'calories', 'fat', 'sodium', 'cholesterol', 'carbs', 'protein']] = df_wine[['sodium', 'calories', 'fat', 'sodium', 'cholesterol', 'carbs', 'protein']].astype(float)

In [10]:
df_wine[['Body', 'Tannin', 'Acid', 'ABV', 'Dryness', 'Fruit']] = df_wine[['Body', 'Tannin', 'Acid', 'ABV', 'Dryness', 'Fruit']].astype(int)

In [7]:
df["Grape"].unique()

array(['Sauvignon Blanc', 'Chenin Blanc', 'Chardonnay', 'Riesling',
       'Pinot Noir', 'Syrah', 'Gewurztraminer', 'Cabernet Sauvignon',
       'Merlot', 'Sangiovese'], dtype=object)

In [8]:
df["Color"].unique()

array(['White', 'Red', 'Red '], dtype=object)

In [13]:
df_wine["Color"].replace({"Red ": "Red"}, inplace=True)

In [14]:
df_wine['Color'].unique()

array(['White', 'Red'], dtype=object)

In [57]:
n_types = df_wine.groupby(['category']).mean().drop(['Body', 'Tannin', 'Acid', 'ABV', 'Dryness', 'Fruit'], axis = 1)
pd.DataFrame(n_types)

,sodium,calories,fat,cholesterol,carbs,protein
category,,,,,,
Dessert Wine,327.638298,345.531915,19.629787,48.553191,4.978723,6.234043
Red Wine,800.201681,410.341737,24.810458,92.286648,6.549953,22.414379
Rosé,662.000000,423.000000,32.100000,97.000000,2.000000,30.900000
Sparkling Wine,1272.615385,343.538462,21.215385,54.423077,10.346154,11.273077
White Wine,690.620025,367.018657,21.837749,83.238184,5.893035,18.892662

In [54]:
n_types.to_csv("n_types.csv", index=True)

In [58]:
m_types = df_wine.groupby(['category']).mean().drop(['sodium', 'calories', 'fat', 'sodium', 'cholesterol', 'carbs', 'protein'], axis = 1)
pd.DataFrame(m_types)

                    Body    Tannin      Acid       ABV   Dryness     Fruit
category
Dessert Wine    1.468085  0.000000  4.234043  1.744681  2.914894  2.914894
Red Wine        4.142857  2.882353  3.436975  3.725490  1.690943  3.817927
Rosé            5.000000  3.000000  3.000000  4.000000  2.000000  5.000000
Sparkling Wine  2.923077  0.115385  3.230769  3.807692  2.038462  4.692308
White Wine      2.189055  0.010572  3.995025  2.962065  2.317786  3.235075

In [59]:
m_types.to_csv("m_types.csv", index=True)

In [60]:
n_grapes = df_wine.groupby(['Grape']).mean().drop(['Body', 'Tannin', 'Acid', 'ABV', 'Dryness', 'Fruit'], axis = 1)
pd.DataFrame(n_grapes)

,sodium,calories,fat,cholesterol,carbs,protein
Grape,,,,,,
Cabernet Sauvignon,782.420000,411.080000,26.190667,89.713333,6.580000,23.174667
Chardonnay,752.192913,380.543307,23.228543,85.681102,5.976378,19.584843
Chenin Blanc,710.361702,397.276596,23.800000,100.787234,6.028369,20.401418
Gewurztraminer,665.485030,367.413174,21.261078,79.113772,5.377246,17.734731
Merlot,799.911950,409.069182,24.651572,91.962264,6.949686,22.611321
Pinot Noir,713.412969,408.269625,24.748123,97.542662,6.723549,21.693174
Riesling,666.846547,363.966752,21.004348,78.258312,6.079284,16.801023
Sangiovese,878.800000,429.542857,25.241143,91.177143,6.514286,22.258857
Sauvignon Blanc,643.779443,339.901499,20.145396,76.284797,5.794433,18.150107
Syrah,842.781457,403.990066,24.336755,88.384106,6.380795,22.671192

In [61]:
n_grapes.to_csv("n_grapes.csv", index=True)

In [62]:
m_grapes = df_wine.groupby(['Grape']).mean().drop(['sodium', 'calories', 'fat', 'sodium', 'cholesterol', 'carbs', 'protein'], axis = 1)
pd.DataFrame(m_grapes)

                    Body  Tannin  Acid  ABV  Dryness  Fruit
Grape
Cabernet Sauvignon     5       4     3    4        2      5
Chardonnay             3       0     3    4        2      5
Chenin Blanc           2       0     5    3        2      2
Gewurztraminer         3       0     1    4        3      3
Merlot                 4       2     3    4        1      4
Pinot Noir             3       2     4    3        2      3
Riesling               1       0     5    1        3      3
Sangiovese             4       4     4    4        1      2
Sauvignon Blanc        2       0     5    3        2      2
Syrah                  5       3     3    4        2      5

In [63]:
m_grapes.to_csv("m_grapes.csv", index=True)

In [64]:
n_colors = df_wine.groupby(['Color']).mean().drop(['Body', 'Tannin', 'Acid', 'ABV', 'Dryness', 'Fruit'], axis = 1)
pd.DataFrame(n_colors)

           sodium    calories        fat  cholesterol     carbs    protein
Color
Red    798.784986  411.030584  24.899259    92.036145  6.607044  22.399907
White  689.840502  365.433094  21.700777    81.943250  5.894265  18.418578

In [65]:
n_colors.to_csv("n_colors.csv", index=True)

In [66]:
m_colors = df_wine.groupby(['Color']).mean().drop(['sodium', 'calories', 'fat', 'sodium', 'cholesterol', 'carbs', 'protein'], axis = 1)
pd.DataFrame(m_colors)

           Body    Tannin      Acid       ABV   Dryness     Fruit
Color
Red    4.147359  2.882298  3.433735  3.728452  1.690454  3.822984
White  2.169654  0.000000  3.994026  2.936081  2.333333  3.243728

In [67]:
m_colors.to_csv("m_colors.csv", index=True)

In [39]:
body = df_wine.groupby(['Body']).mean().drop(['Tannin', 'Acid', 'ABV', 'Dryness', 'Fruit'], axis = 1)
pd.DataFrame(body)

          sodium    calories        fat  cholesterol     carbs    protein
Body
1     666.846547  363.966752  21.004348    78.258312  6.079284  16.801023
2     659.220395  353.207237  20.992928    81.967105  5.848684  18.672204
3     725.495868  386.670455  23.349070    88.138430  6.099174  19.903822
4     841.245509  419.796407  24.960479    91.550898  6.721557  22.426647
5     822.750000  406.342920  24.951991    88.825221  6.446903  22.838274

In [42]:
body.to_csv("body.csv", index=True)

In [41]:
Tannin = df_wine.groupby(['Tannin']).mean().drop(['Body', 'Acid', 'ABV', 'Dryness', 'Fruit'], axis = 1)
pd.DataFrame(Tannin)

            sodium    calories        fat  cholesterol     carbs    protein
Tannin
0       689.840502  365.433094  21.700777    81.943250  5.894265  18.418578
2       743.840708  408.550885  24.714159    95.579646  6.803097  22.016150
3       842.781457  403.990066  24.336755    88.384106  6.380795  22.671192
4       834.316923  421.021538  25.679385    90.501538  6.544615  22.681538

In [43]:
Tannin.to_csv("tannin.csv", index=True)

In [44]:
Acid = df_wine.groupby(['Acid']).mean().drop(['Body', 'Tannin', 'ABV', 'Dryness', 'Fruit'], axis = 1)
pd.DataFrame(Acid)

          sodium    calories        fat  cholesterol     carbs    protein
Acid
1     665.485030  367.413174  21.261078    79.113772  5.377246  17.734731
3     787.473637  395.017873  24.126899    87.843610  6.304736  21.329044
4     775.256410  416.224359  24.932479    95.162393  6.645299  21.904701
5     662.205205  357.418418  20.997397    80.515516  5.938939  17.939840

In [45]:
Acid.to_csv("acid.csv", index=True)

In [46]:
ABV = df_wine.groupby(['ABV']).mean().drop(['Body', 'Tannin', 'Acid', 'Dryness', 'Fruit'], axis = 1)
pd.DataFrame(ABV)

         sodium    calories        fat  cholesterol     carbs    protein
ABV
1    666.846547  363.966752  21.004348    78.258312  6.079284  16.801023
3    676.843507  371.113208  22.214095    87.032186  6.133185  19.654606
4    784.468857  395.997947  23.932786    87.245038  6.223819  21.029569

In [47]:
ABV.to_csv("abv.csv", index=True)

In [48]:
Dry = df_wine.groupby(['Dryness']).mean().drop(['Body', 'Tannin', 'Acid', 'ABV', 'Fruit'], axis = 1)
pd.DataFrame(Dry)

             sodium    calories        fat  cholesterol     carbs    protein
Dryness
1        841.245509  419.796407  24.960479    91.550898  6.721557  22.426647
2        732.849543  382.243955  23.155991    87.098872  6.166577  20.408812
3        666.439068  364.998208  21.081183    78.514337  5.869176  17.080466

In [49]:
Dry.to_csv("dryness.csv", index=True)

In [50]:
Fruit = df_wine.groupby(['Fruit']).mean().drop(['Body', 'Tannin', 'Acid', 'ABV', 'Dryness'], axis = 1)
pd.DataFrame(Fruit)

           sodium    calories        fat  cholesterol     carbs    protein
Fruit
2      708.296296  370.268199  21.942401    84.025543  5.997446  19.473819
3      682.612221  379.896592  22.343713    85.065805  6.163337  18.668625
4      799.911950  409.069182  24.651572    91.962264  6.949686  22.611321
5      785.413542  392.690625  24.040000    87.161458  6.197917  21.116667

In [52]:
Fruit.to_csv("fruit.csv", index=True)